[submodule "forge"]
	path = forge
	url = https://github.com/V-Songbird/forge.git
[submodule "verity"]
	path = verity
	url = https://github.com/V-Songbird/verity.git
[submodule "foreman"]
	path = foreman
	url = https://github.com/V-Songbird/foreman.git
[submodule "hush"]
	path = hush
	url = https://github.com/V-Songbird/hush.git
[submodule "razor"]
	path = razor
	url = https://github.com/V-Songbird/razor.git
